# 看看我們的 Data

In [88]:
import pandas as pd
df = pd.read_csv("./data/all_data_with_label_v2.csv", index_col=0)
df.head()

,????0,????1,????2,????3,??4,??5,??6,??7,????8,????9,...,THTE 109,THTV110,THTV111,THTV112,THTV113,THTV114,THTV115,THTV116,Name117,Label118
0,1011.4,1011.6,1011.3,1011.0,24.0,25.5,27.3,27.9,67,64,...,339.8,296.9,302.0,304.0,311.5,323.9,331.0,337.9,2015-05-01.csv,False
1,1009.7,1009.6,1009.5,1008.8,26.4,28.3,29.5,31.2,73,62,...,343.5,299.0,302.7,305.8,313.9,324.2,333.6,342.1,2015-05-02.csv,False
2,1011.7,1012.1,1012.2,1012.3,21.5,21.7,22.4,23.0,75,77,...,343.0,295.3,300.4,305.8,312.4,326.7,333.7,342.8,2015-05-04.csv,True
3,1010.8,1010.8,1010.8,1010.7,18.7,18.9,19.2,19.3,88,87,...,343.2,293.2,298.2,304.1,313.3,327.2,334.2,342.9,2015-05-05.csv,False
4,1007.7,1008.2,1008.4,1008.4,22.9,25.0,25.8,26.0,84,76,...,343.4,296.9,301.8,304.8,312.0,327.8,334.3,342.9,2015-05-06.csv,False

# 來用 scikit-learn 看看

In [89]:
import sklearn
from sklearn import svm, preprocessing

df = sklearn.utils.shuffle(df)
df=df.fillna(df.mean())
X = df.drop({"Label118","Name117"}, axis=1).values
#X = preprocessing.scale(X)

df["Label118"] = df["Label118"].map({True:1, False:0})
y = df["Label118"].values

test_size = 100

X_train = X[:-test_size]
y_train = y[:-test_size]

X_test = X[-test_size:]
y_test = y[-test_size:]

clf = svm.SVC(gamma=0.001, C=100.)
clf.fit(X_train, y_train)

SVC(C=100.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.001, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [90]:
clf.score(X_test, y_test)

0.95